html, body {
    width: 100%; height: 100%;
    text-align: center;
}
h1, h2, h3, h4, p, ul, ol {
    margin:0; padding:0;
    list-style: none;
}

/* ---------- TYPOGRAPHY ---------- */
body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    line-height: 1.4;
}
h1, h2, h3 {
    color: #d53039;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: lowercase;
}
a {
    color: #034291;
    text-decoration: none;
}
a:hover {
    border-bottom: solid 1px #034291;
}

/* =============== NAVIGATION =============== */
/*nav {
    display: none;
    position: fixed;
    top:0px;
    width:100%;
    background-color:#102540;
    color: #FFFFFF;
    z-index:1;
}
nav ul {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;

    padding: 20px 0;
}
nav h1 {
    padding:20px 0 10px 0;
}
nav a {
    color: #fff;
}*/

/* =============== HEADER =============== */
header {
    width: 100%;
    height: 98%; min-height: 320px;
    color: #fff;
    background-color: #d53039;
    border-bottom: solid 5px #f47a7d;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}
header * {
    z-index: 1;
}
header .logo {
    width: 200px;
}
header h1 {
    color: #fff;
    font-size: 40px;
}
header p {
    color: #e5b0ad;
    font-size: 20px;
}

/* =============== SECTIONS =============== */
#schedule .events > *,
#registry p {
    text-align: left;
    max-width:600px;
    margin: auto;
}
h2 {
    margin-bottom: 10px;
    padding: 0 20px;
    text-align: center;
}
h2 span {
    display: block;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: rgba(0,0,0,0.4);
    font-size: 17px;
}
h4 {
    color: rgba(0,0,0,0.8);
}



#schedule .days > li {
    padding: 20px;
    border-bottom: solid 1px rgba(0,0,0,0.12);
}
#schedule .days > li:last-child {
    border: none;
}
#schedule .events li {
    padding-bottom: 20px;
}
#schedule p.time {
    margin-bottom: 5px;
}



#registry {
    padding: 40px 20px 50px 20px;
    color: #fff;
    background-color: #034291;
}
#registry h2 {
    color: #fff;
    position: relative;
    top:-16px;
}
#registry a {
    color: #f47a7d;
}
#registry img {
    margin: 0 auto;
    width: 140px;
    position: relative;
    top: 16px;
    color: #f47a7d;
}



footer {
    padding: 10px 0;
    border-top: solid 5px #032e61;
    color: #d53039;
    background-color: #102540;
    font-size: 20px;
}



/* ----- breakpoints ----- */
@media only screen and (min-width: 376px) {
    header h1 {
        font-size: 50px;
    }
    header p {
        font-size: 26px;
    }
}
@media only screen and (min-width: 770px) {
    header h1 {
        font-size: 80px;
    }
    header p {
        font-size: 46px;
    }
    h2 {
        font-size: 30px;
    }
    h2 span {
        font-size: 22px;
    }
    h4 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    #registry h2 {
        top: -18px;
    }
    #registry img {
        top: 20px;
        width: 180px;
    }
    footer {
        padding: 20px 0;
        font-size: 26px;
    }
}
@media only screen and (min-width: 1025px) {
    header {
        height: auto;
    }
    header h1 {
        font-size: 50px;
    }
    header p {
        font-size: 26px;
    }
/*    #schedule ol {
        display: -webkit-flex;
        display: flex;
    }
    #schedule .days > li {
        border: 0;
        border-right: solid 1px rgba(0,0,0,0.12);
    }
    #schedule .events li {
        margin: 0;
        padding: 0 20px;
    }*/
}

